.link {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.home-page {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    overflow: hidden;
    word-wrap: break-word;
    margin: 50px auto;
    padding: 1px;
    font-size: calc(3px + 2vh);
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.home-page  .email {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    /* width: 100%; */
    height: calc(85px + 2vh);
    box-shadow: 1px 1px 1px 1px lightgray;
    /* word-break: break-all; */
}

.home-page  .email:hover {
    transition: 0.5s;
    box-shadow: 3px 3px 3px 3px darkgray;
}

.home-page  .header-email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.home-page  .header-email .email-date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(180px + 2vh);
    margin: 0;
    padding: 0;
    font-size: calc(4px + 2vh);
    color: darkgray;
    font-weight: bold;
}

.home-page  .header-email .email-from {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(225px + 2vh);
    margin: 0;
    padding: 0;
    font-size: calc(5px + 2vh);
    color: rgba(0, 0, 0, 0.829);
    font-weight: bold;
}

.home-page  .buttom-email {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.home-page  .buttom-email .email-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(875px + 2vh);
    margin: 0;
    padding: 0;
    font-size: calc(3px + 2vh);
    color: rgba(0, 0, 0, 0.74);
}

.home-page  .buttom-email .email-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(1375px + 2vh);
    margin: 0;
    padding: 0;
    font-size: calc(3px + 2vh);
    font-weight: bold;
    color: darkgrey;
}


 