.send-email {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    bottom: 0;
    left: 0;
    margin: 10px;
    padding: 10px;
    background: none;
    width: 100%;
    /* height: calc(50px + 2vh); */
    font-size: calc(7px + 2vh);
    border: none;
    border-radius: 5px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.send-email h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    width: 70%;
    font-size: calc(10px + 2vh);
 }

 .send-email .email-alert{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 196, 0);
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    width: 75%;
    font-size: calc(5px + 2vh);
    word-wrap: break-word;
 }

.send-email .send-email-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    border-radius: 100px;
    width: 15%;
    height: 15%;
    font-size: calc(15px + 2vh);
    font-weight: bold;
    border: none;
    position:absolute;
    bottom: 5px;
    left: 5px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    /* z-index: 999; */
}

.send-email .send-email-form-postion{
    transition: 0.4s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(245, 245, 245, 0.687);
    width: 100%;
    min-height: 100vh;
    height: 100%;
    bottom: -5000px;
    left: -5000px;
    /* z-index: 999; */
}

.send-email .send-email-form-postion .send-email-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 15px;
    padding: 15px; */
    /* width: calc(250px + 2vh); */
    /* height: 100%; */
    /* min-height: 60vh; */
    /* background: whitesmoke; */
    font-size: calc(6px + 2vh);
    background: rgb(255, 255, 255);
    border-radius: 50px;
    z-index: 999;
}

.send-email .send-email-form input , label{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 80%;
    height: 20px;
    border: none;
    background: whitesmoke;
    font-size: calc(6px + 2vh);
}

.send-email .send-email-form textarea{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 80%;
    resize: none;
    /* height: 20px; */
    border: none;
    background: whitesmoke;
    font-size: calc(6px + 2vh);
}

 

.send-email .send-email-form button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: none;
    box-shadow: 1px 1px 1px 1px white;
    width: 70%;
    background: steelblue;
    color: white;
    font-size: calc(6px + 2vh);
    font-weight: bold;
    cursor: pointer;
}

.send-email .send-email-form button:hover{
   color: black;
}




.send-email #checkbox-button{
    opacity: 0;
    justify-content: center;
    align-items: center;
    position:absolute;
    left: 5px;
    bottom: 5px;
    z-index: 999;
    width: 260px;
    height: 38px;
    cursor: pointer;

}

.send-email #checkbox-button:checked~.send-email-form-postion{
    transition: 0.4s;
    bottom: -10px;
    left: -20px;
}




/* Loading */

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 310px;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.3); */
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }