.send-email {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    bottom: 0;
    left: 0;
    margin: 10px;
    padding: 10px;
    background: none;
    width: 100%;
    /* height: calc(50px + 2vh); */
    font-size: calc(7px + 2vh);
    border: none;
    border-radius: 5px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

.send-email h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    width: 80%;
    font-size: calc(10px + 2vh);
 }

 .send-email .email-alert{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 196, 0);
    font-weight: bold;
    margin: 1px;
    padding: 1px;
    width: 75%;
    font-size: calc(3px + 2vh);
    word-wrap: break-word;
 }



.send-email .send-email-form-postion{
    transition: 0.4s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(245, 245, 245, 0.687);
    width: 100%;
    min-height: 100vh;
    height: 100%;
    bottom: -5000px;
    left: -5000px;
}

.send-email .send-email-form-postion .send-email-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 15px;
    padding: 15px; */
    /* width: calc(250px + 2vh); */
    /* height: 100%; */
    /* min-height: 60vh; */
    /* background: whitesmoke; */
    font-size: calc(6px + 2vh);
    background: rgb(255, 255, 255);
    border-radius: 50px;
    z-index: 1;
}

.send-email .send-email-form input , label{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 90%;
    height: 20px;
    border: none;
    background: whitesmoke;
    font-size: calc(6px + 2vh);
}

.send-email .send-email-form textarea{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 90%;
    resize: none;
    /* height: 20px; */
    border: none;
    background: whitesmoke;
    font-size: calc(6px + 2vh);
}

 

.send-email .send-email-form button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: none;
    box-shadow: 1px 1px 1px 1px white;
    width: 80%;
    background: steelblue;
    color: white;
    font-size: calc(6px + 2vh);
    font-weight: bold;
    cursor: pointer;
}

.send-email .send-email-form button:hover{
   color: black;
}

.send-email .send-email-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    border-radius: 100px;
    font-size: calc(15px + 2vh);
    font-weight: bold;
    border: none;
    position:absolute;
    bottom: 0;
    left: 0;
    width: 75px;
    height: 18px;
    cursor: pointer;
}


.send-email #checkbox-button{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100px;
    height: 45px;
    cursor: pointer;


}

.send-email #checkbox-button:checked~.send-email-form-postion{
    transition: 0.4s;
    bottom: -40px;
    left: -10px;
}




/* Loading */

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  transform: rotate3d(90, 90, 0, 180deg );
  border-color: #FF3D00;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}