.send-email {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    bottom: 0;
    left: 0;
    margin: 10px;
    padding: 10px;
    background: none;
    width: 100%;
    /* height: calc(50px + 2vh); */
    font-size: calc(7px + 2vh);
    border: none;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.send-email .send-email-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    border-radius: 100px;
    width: 5%;
    height: 5%;
    font-size: calc(6px + 2vh);
    font-weight: bold;
    border: none;
    position:absolute;
    left: 5px;
    bottom: 5px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    /* z-index: 999; */
}

.send-email .send-email-form-postion{
    transition: 0.4s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(245, 245, 245, 0.687);
    width: 100%;
    min-height: 100vh;
    height: 100%;
    bottom: -5000px;
    left: -5000px;
    /* z-index: 999; */
}

.send-email .send-email-form-postion .send-email-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 15px;
    padding: 15px; */
    /* width: calc(250px + 2vh); */
    /* height: 100%; */
    /* min-height: 60vh; */
    /* background: whitesmoke; */
    font-size: calc(6px + 2vh);
    background: rgb(255, 255, 255);
    border-radius: 50px;
    z-index: 999;
}

.send-email .send-email-form input , label{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 60%;
    height: 20px;
    border: none;
    background: whitesmoke;
    font-size: calc(6px + 2vh);
}

.send-email .send-email-form button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: none;
    box-shadow: 1px 1px 1px 1px white;
    width: 20%;
    background: steelblue;
    color: white;
    font-size: calc(6px + 2vh);
    font-weight: bold;
    cursor: pointer;
}

.send-email .send-email-form button:hover{
   color: black;
}




.send-email #checkbox-button{
    opacity: 0;
    justify-content: center;
    align-items: center;
    position:absolute;
    left: 5px;
    bottom: 5px;
    z-index: 999;
    width: 100px;
    height: 35px;
    cursor: pointer;

}

.send-email #checkbox-button:checked~.send-email-form-postion{
    transition: 0.4s;
    bottom: -10px;
    left: -20px;
}